<div class="row">
  <div class="twelve columns">
    <h1>Blog</h1>
    <hr/>
    <%= link_to 'New Post', new_post_path, :class => 'button' %>
    <button class="button assets-js-test-button">
      This is a button
    </button>
    <hr/>
    <% @posts.each do |post| %>
        <h2><%= post.title %></h2>
        <p>By: <%= post.name %></p>
        <div><%= simple_format post.content %></div>
        <div class="panel">
          <%= link_to 'Edit', edit_post_path(post), :class => 'small button' %>
          <%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'small alert button' %>
        </div>
    <% end %>


  </div>
</div>


